body{
    font-family: "Francois+One", sans-serif;
    background-image: url(../img/fondo_cesped.jpg);
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-size: 30%; /* Resize the background image to cover the entire container */
}
